html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background: no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 3px 2px 2px #474747;
}

.container > div {
    padding: 10px;
    text-align: center;
    font-size: 2em;
    color: #ffeead;
  }

  .container > div:nth-child(1) {
    background-color: #96ceb4;	
  }
  
  .container > div:nth-child(2) {
    background-color: #ff6f69;
  }
  
  .container > div:nth-child(3) {
    background-color: #88d8b0;
  }

  .container > div:nth-child(4) {
    background-color: #ff6f69;
  }

.container {
    border: 5px solid #ffcc5c;
    display: flex;
    height: 100%;
    align-items: center;
}

#logout {
    align-self: flex-start;
} 

#author {
    align-self: flex-end;
}

